[MAIN]
reports=n

[FORMAT]
indent-string='  '
max-line-length=120

[MESSAGES CONTROL]
disable=
  abstract-method,
  arguments-differ,
  cell-var-from-loop,
  duplicate-code,
  fixme,
  invalid-name,
  invalid-unary-operand-type,
  len-as-condition,
  missing-docstring,
  no-else-raise,
  no-else-return,
  no-member,
  no-name-in-module,
  no-value-for-parameter,
  pointless-string-statement,
  superfluous-parens,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  too-many-instance-attributes,
  too-many-lines,
  too-many-locals,
  too-many-nested-blocks,
  too-many-public-methods,
  too-many-return-statements,
  too-many-statements,
  unnecessary-lambda-assignment,
  unused-argument,
  unused-wildcard-import,
  useless-object-inheritance,
  useless-super-delegation,
  wildcard-import,
  wrong-import-order
