version: 2.1

jobs:
  testaux:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - run: pip install . -r requirements-dev.txt
      - run: pytest -rw --durations=5 --junitxml=junit-results.xml test/testaux/
      - store_test_results:
          path: junit-results.xml
  testcompute:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    parallelism: 4
    environment:
      OMP_NUM_THREADS: "1"
      OPENBLAS_NUM_THREADS: "1"
      MKL_NUM_THREADS: "1"
      VECLIB_MAXIMUM_THREADS: "1"
      NUMEXPR_NUM_THREADS: "1"
    steps:
      - checkout
      - run: pip install . -r requirements-dev.txt
      - run: |
          circleci tests glob "test/testcompute/**/*.py" \
            | circleci tests split --split-by=timings \
            | xargs env pytest -rw --durations=5 --junitxml=junit-results.xml
      - store_test_results:
          path: junit-results.xml
workflows:
  main:
    jobs:
      - testaux
      - testcompute
