version: 2.1

jobs:
  pre-commit:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - run: pip install -r requirements-dev.txt
      - run: pre-commit run --all-files
  test-aux:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - run: pip install . -r requirements-dev.txt
      - run: pytest -rw --durations=5 --junitxml=junit-results.xml test/aux/
      - store_test_results:
          path: junit-results.xml
  test-compute:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    parallelism: 4
    environment:
      OMP_NUM_THREADS: "1"
      OPENBLAS_NUM_THREADS: "1"
      MKL_NUM_THREADS: "1"
      VECLIB_MAXIMUM_THREADS: "1"
      NUMEXPR_NUM_THREADS: "1"
    steps:
      - checkout
      - run: pip install . -r requirements-dev.txt
      - run: |
          circleci tests glob "test/compute/**/*.py" \
            | circleci tests split --split-by=timings \
            | xargs env pytest -rw --durations=5 --junitxml=junit-results.xml
      - store_test_results:
          path: junit-results.xml
workflows:
  main:
    jobs:
      - pre-commit
      - test-aux
      - test-compute
