version: 2.1

jobs:
  pre-commit:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - run: grep pre-commit requirements-dev.txt | xargs pip install
      - run: pre-commit run --all-files
  testaux:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - run: pip install . -r requirements-dev.txt
      - run: pytest -rw --durations=5 --junitxml=junit-results.xml test/testaux/
      - store_test_results:
          path: junit-results.xml
  testcompute:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    parallelism: 4
    environment:
      OMP_NUM_THREADS: "1"
      OPENBLAS_NUM_THREADS: "1"
      MKL_NUM_THREADS: "1"
      VECLIB_MAXIMUM_THREADS: "1"
      NUMEXPR_NUM_THREADS: "1"
    steps:
      - checkout
      - run: pip install . -r requirements-dev.txt
      - run: |
          circleci tests glob "test/testcompute/**/*.py" \
            | circleci tests split --split-by=timings \
            | xargs env pytest -rw --durations=5 --junitxml=junit-results.xml
      - store_test_results:
          path: junit-results.xml
  trivy:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - checkout
      - run: |
          set -e
          curl -fSsLo trivy.deb https://github.com/aquasecurity/trivy/releases/download/v0.38.3/trivy_0.38.3_Linux-64bit.deb
          sudo dpkg -i trivy.deb
          rm trivy.deb
      - run: trivy fs .
      - store_artifacts:
          path: trivy-results.json
workflows:
  main:
    jobs:
      - pre-commit
      - testaux
      - testcompute
      - trivy
